/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: gray;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
.container {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}
@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
}
.container header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
  background-color: beige;
}
@media (max-width: 500px) {
  .container header {
    display: flex;
    flex-flow: column wrap;
  }
}
.container header h2 {
  padding: 0 1rem;
}
@media (max-width: 500px) {
  .container header h2 {
    padding-bottom: 0.5rem;
  }
}
.container header nav {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.container header nav p {
  font-size: 1.5rem;
  margin: 0 2rem;
}
@media (max-width: 500px) {
  .container header nav p {
    padding: 0.5rem;
    border-top: 1px solid gray;
    width: 100%;
    text-align: center;
  }
}
.container header nav p:hover {
  border-bottom: 1px dotted gray;
}
@media (max-width: 500px) {
  .container header nav p:hover {
    border-bottom: none;
  }
}
.container .jumbotron {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
@media (max-width: 500px) {
  .container .jumbotron {
    display: flex;
    flex-flow: column wrap;
    padding: 0 1rem;
  }
}
.container .jumbotron div {
  width: 45%;
  height: 50vh;
}
@media (max-width: 500px) {
  .container .jumbotron div {
    width: 90%;
    margin: 0 auto;
  }
}
.container .jumbotron .summary {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.container .jumbotron .summary p {
  padding: 1rem;
  border: 1px solid gray;
  margin-top: 1rem;
}
.container .jumbotron .headPhoto img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.container .main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .container .main-content {
    display: flex;
    flex-flow: column wrap;
  }
}
.container .main-content div {
  width: 45%;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  border: 1px solid gray;
  background-color: beige;
}
@media (max-width: 500px) {
  .container .main-content div {
    width: 90%;
    margin: 0.5rem auto;
  }
}
.container .main-content div * {
  padding: 0.5rem 0;
  width: 100%;
}
.container .main-content div .listItems p {
  border-top: 1px solid gray;
}
.container .main-content div .listItems p:last-of-type {
  border-bottom: 1px solid gray;
}
.container .main-content div .listItems p.background {
  background-color: lightgrey;
}
.container footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.invisible {
  display: none;
}
.red {
  border: 1px solid black;
}
